table {
  font-family: "Segoe UI", Roboto, "Helvetica Neue";
  border-collapse: collapse;
  width: 80%;
  color: #14767e;
}

th {
  font-family: "Segoe UI", Roboto, "Helvetica Neue";
  padding: 5px 3px 5px 3px;
  text-align: left;
  background-color: #e6e9e4;
  color: #14767e;
  text-shadow: 2px 2px 8px rgb(121, 168, 168);
  border: 1px solid #14767e;
}

td {
  border: 1px solid #14767e;
  text-align: left;
  padding: 8px;
}

.td-heading {
  text-align: center;
  background-color: #8cb8b0;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #fffcfa;
}

.td-approved {
  color: rgb(0, 255, 0);
  font-weight: bold;
}

.td-inProgress {
  color: rgb(245, 181, 6);
  font-weight: bold;
}

.td-rejected {
  color: rgb(255, 0, 0);
  font-weight: bold;
}

.h1-SchoolName {
  padding: 10px 10px 10px 10px;
  margin-left: 0px;
  margin-top: 0px;
  color: #14767e;
  text-shadow: 2px 2px 8px rgb(121, 168, 168);
}
