.chart-bar {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chart-bar-inner {
  height: 100%;
  width: 100%;
  border: 2px solid #127780;
  border-radius: 12px;
  background-color: #65b8c0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.chart-bar-fill {
  background-color: #127780;
  width: 100%;
  transition: all 0.3s ease-out;
}

.chart-bar-label {
  font-weight: bold;
  font-size: 0.5rem;
  text-align: center;
}
