input[type="text"] {
  width: 300px;
}

input[type="datetime-local"] {
  width: 180px;
}

select {
  width: 300px;
}

label {
  margin-left: 10px;
  margin-right: 10px;
  width: 160px;
}

.reqbutton {
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 5px;
  padding: 10px;
  background-color: #65b8c0;
  border: 1px solid #65b8c0;
  color: white;
}
.reqbutton:hover {
  background-color: #127780;
}

h1 {
  margin-top: 20px;
  margin-left: 10px;
  color: #14767e;
}

.form-container {
  border-radius: 5px;
  background-color: transparent;
  padding: 20px;
}
