.approve-button {
    color: #4CAF50; 
    border: none;
    background: none;
  }

.reject-button {
    color: #f44336; 
    border: none;
    background: none;
  }

  table {
    font-family: "Segoe UI", Roboto, "Helvetica Neue";
    border-collapse: collapse;
    width: 100%;
  }

  th {
    font-family: "Segoe UI", Roboto, "Helvetica Neue";
    padding: 5px 3px 5px 3px;
    text-align: left;
    background-color: #7091b6;
    color: rgb(5, 5, 5);
    border: 1px solid #080808;
  }
  
  td {
    border: 1px solid #080808;
    text-align: left;
    padding: 8px;
  }

  .td-heading {
    text-align: center;
    background-color:  #377ccc;
    font-weight: bold;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .td-approved {
    color: rgb(12, 216, 90);
    font-weight: bold;
  }
  
  .td-inProgress {
    color: rgb(245, 181, 6);
    font-weight: bold;
  }

  .td-rejected {
    color: rgb(245, 62, 6);
    font-weight: bold;
  }