.div-main {
  margin: 10px 120px 20px 120px;
  flex: auto;
}
.navbar {
  border-bottom: 0.2em solid #14767e;
}

.fontstyle {
  font-weight: bold;
  font-size: 30px;
  color: #14767e;
  text-shadow: 2px 2px 8px rgb(121, 168, 168);
}
